In [92]:
import numpy as np
import pandas as pd
from dateutil.relativedelta import relativedelta
from datetime import datetime

**amateur_coding_challenge**

1. Write a function that returns the SUM of a sequence of numbers. This sequence is determined by three variables: start, finish, and step. The sequence begins at start, ends at finish, and goes up by step until it reaches finish or a number that when increased by step would go past finish.

Examples:


Input: start: 1 finish: 4 step: 1 | Output: 10

Input: start: 4 finish: 10 step: 4| Output: 12

In [15]:
def sum_range(start = 1, finish = 4, step = 1):
    return sum(range(start, finish+1, step))

sum_range()

10

In [18]:
sum_range(4,10,4)

12

2. Given a string of any length with any characters in it, write a function to determine whether or not the string contains the whole word "english". The order of characters/spelling is important, a string "agkjnenglishsad" would return true while "asdneglihsth" would return false. Upper and lower case does not matter. Return values should be booleans (true/false).

Examples:


Input: "FaagdnglishAGG" | Output: false

Input: "SMFENgliSHasnD" | Output: true

In [22]:
def contains_english(input_string):
    return('english' in input_string.lower())

contains_english('FaagdnglishAGG')

False

In [23]:
contains_english('SMFENgliSHasnD')

True

3. Given an array of integers, write a function that returns an array of 2 integers. The first integer will be the count of the positive integers, and the second integer will be the sum of the negative integers. If the input is empty or null, return an empty array.

Examples:


Input: [1, -6, 5, 4, 3, -7, -10, 201, -3] | Output: [5, -26]

Input: null | Output: []

In [44]:
def count_pos_sum_neg(input= ''):
    if input == '':
        return []
    input= pd.Series(input)
    count_pos = input.where(input.values>0).count()
    sum_neg = input.where(input.values<0).sum()
    return [count_pos, sum_neg]

count_pos_sum_neg([1, -6, 5, 4, 3, -7, -10, 201, -3])

[5, -26.0]

In [45]:
count_pos_sum_neg()

[]

4. Write a function that translates an input string by replacing each character with a number representing the amount of times that character appears in the string. Then separate each individual number with a different character.

Examples:


Input: "hello world", "-" | Output: "1-1-3-3-2-1-1-2-1-3-1"

Input: "challenge", "/" | Output: "1/1/1/2/2/2/1/1/2"

In [51]:
def char_to_char_count(input, split = '-'):
    output=''
    for char in input:
        output += f'{input.count(char)}{split}'
    return output[:-1]

char_to_char_count('hello world', '-')

'1-1-3-3-2-1-1-2-1-3-1'

In [52]:
char_to_char_count('challenge', '/')

'1/1/1/2/2/2/1/1/2'

5. Given a string of names like this: "Travis:Meyer;Gene:Carangal;Tom:Young;Jeff:Meyer", write a function that makes the entire string uppercase and sorts it in alphabetical order by last name. If the last names are the same sort them by the first name. Put the last name in front of the first name, remove the colons and semicolons, put the names in parentheses and separate the names with commas.

Example:

The end string should look like this: "(CARANGAL, GENE)(MEYER, JEFF)(MEYER, TRAVIS)(YOUNG, TOM)"

In [67]:
def sort_names(input):
    names = input.split(';')
    last_first_names = []
    for name in names:
        split_name = name.split(':')
        last_first_names += [[split_name[1], split_name[0]]]
    
    last_first_names.sort()
    output = ''
    for name in last_first_names:
        output += f'({name[0]},{name[1]})'
    return output.upper()

sort_names("Travis:Meyer;Gene:Carangal;Tom:Young;Jeff:Meyer")

'(CARANGAL,GENE)(MEYER,JEFF)(MEYER,TRAVIS)(YOUNG,TOM)'

6. Write a function to calculate a person’s age based on the date entered in the format MM/DD/YYYY.

Example:


Input: 11/04/1982
Output: 34 #this was made in a different year

In [94]:
date ='11/04/1982'
birth_date = datetime.strptime(date, '%m/%d/%Y')
relativedelta(birth_date, datetime.today()).years

-39

In [97]:
def age_from_date(date):
    birth_date = datetime.strptime(date, '%m/%d/%Y')
    return relativedelta(birth_date, datetime.today()).years

age_from_date('11/04/1982')

-39

7. Write a function to convert a string into an array of words.

Example:


Input: "Trick or Treat"

Output: [‘Trick’, ‘or’, ‘Treat’]

In [99]:
def split_string(string):
    return string.split().asarray

split_string('Trick or Treat')

['Trick', 'or', 'Treat']

8. Write a function to count the number of occurrences of a substring in a given string.

Example:


Input: "The pumpkin rolled down the hill and under someone’s car.", "the"
Output: 2

In [101]:
def count_substring(string, substring):
    return string.lower().count(substring)

count_substring("The pumpkin rolled down the hill and under someone’s car.", "the")

2

9. Write a function to remove these special characters from a string: ~,!,$,&,%, ,#,@,-,_,^,? (yes, "space" is a character in that list)

Examples:


Input: "Happy ~!&$%#@- Halloween" | Output: "HappyHalloween"
Input: "I’ll bet living in a nudist-colony takes all the fun out of Halloween!!" | Output: "IllbetlivinginanudistcolonytakesallthefunoutofHalloween"

In [104]:
special_chars = '~,!,$,&,%, ,#,@,-,_,^,?'.replace(',',"','")
special_chars

"~','!','$','&','%',' ','#','@','-','_','^','?"

In [114]:
def remove_special_chars(string,special_chars = ['~','!','$','&','%','’',' ','#','@','-','_','^','?']):
    for char in special_chars:
        string = string.replace(char, '', )
    return string

remove_special_chars("Happy ~!&$%#@- Halloween")

'HappyHalloween'

In [115]:
remove_special_chars("I’ll bet living in a nudist-colony takes all the fun out of Halloween!!")

'IllbetlivinginanudistcolonytakesallthefunoutofHalloween'

10. Write a function called "multiply" that takes two integers and returns the product. You are NOT allowed to use the * operator or any imported multiplication function. We will check your code.

Example:


Input: multiply(5, 6) | Output: 30

Input: multiply(-1, 15) | Output: -15

Input: multiply(-2, -7) | Output: 14

In [136]:
def multiply(int1,int2):
    product = 0
    if int2>0:
        for i in range(int2):
            product += int1
    else:
        for i in range(0-int2):
            product -= int1
    return product

multiply(5, 6)

30

In [128]:
multiply(-1, 15)

-15

In [137]:
multiply(-2, -7)

14

11. Write a function that takes a string and returns true if all of the characters are the same case, false otherwise.

Examples:


Input: "hello world" | Output: true

Input: "HELLO WORLD" | Output: true

Input: "HeLLo wORld" | Output: false

In [119]:
def same_case(string):
    if string[0].isupper():
        return string.isupper()
    return string.islower()

same_case("hello world")

True

In [120]:
same_case("HELLO WORLD")

True

In [121]:
same_case("HeLLo wORld")

False

12. Write a function that takes an array of integers and returns an array of integers where each number is the sum of itself and all of the previous numbers in the array.

Example:


Input: [1, 1, 1] | Output: [1, 2, 3]

Input: [4, 2, 1, 3, 5] | Output: [4, 6, 7, 10, 15]

In [139]:
def sum_array(array):
    output = []
    current_sum = 0
    for num in array:
        current_sum += num
        output.append(current_sum)
    return output

sum_array([1, 1, 1] )

[1, 2, 3]

In [141]:
sum_array([4, 2, 1, 3, 5])

[4, 6, 7, 10, 15]

13. An Isogram is a word that has no repeating letters, consecutive or not. Write a function that takes a string and returns true if it’s an isogram and false if it isn’t.

Examples:


Input: "fish" | Output: true

Input: "food" | Output: false

Input: "color" | Output: false

In [144]:
def is_isogram(string):
    for char in string:
        if(string.count(char)>1):
            return False
    return True

is_isogram('fish')

True

In [145]:
is_isogram('food')

False

In [146]:
is_isogram('color')

False

14. Write a function that takes a phone number with letters in it and converts it to one with only numbers. All input phone numbers will follow this pattern: "###-###-####" (Hint: Search for "phone keypad")

Examples:


Input: 210-367-CODE | Output: 210-367-2633

Input: TRY-THE-FOOD | Output: 879-843-3663

15. Write a function that returns all possible partitions of an array from left to right. With an n amount of elements in the input the returned array should have n-1 subarrays. An empty array should return an empty array.

Examples:


Input: [1, 5, 3, 2] | Output: [[[1], [5, 3, 2]], [[1, 5], [3, 2]], [[1, 5, 3], [2]]]
Input: [a, b, c] | Output: [[[a], [b, c]], [[a, b], [c]]]**